.nutri-card{
    background-color: #EEEEEE;
    width: 450px; 
    height: 215px;
    display: inline-block;
    margin: 2%;
    border-radius: 10px;
    font-family: "Avenir", sans-serif;
    padding: 15px;
}

.nutri-img img{
    height: 100%;
    width: 100%; 
    border-radius: 5px;
    
}

.nutri-img{
    left: 0;
    width: 50%;
    padding-right: 25px;
}
  
.split-nutri{
    display: flex; 
    padding: 2px 10px; 

} 

.content{
    right: 0; 
    width: 50%;
}
  
.nutri-calories-div{
    margin: none; 
    padding: none; 
    left: 0; 
    width: 50%; 
}
  
.nutri-quantity-div{
    margin: none; 
    padding: none; 
    right: 0; 
    width: 50%;
    text-align: right;  
}
  
.food-name{
    font-weight: bold;
    font-size: 30px; 
    text-align: center; 
            margin: 0px 0px; 
}
  
.nutri-data{
font-size: 20px;
font-weight: bold;
}
  
.nutri-date{
    margin: 60px 15px 2px; 
}
  
  