
.navbar a {
  /* color: #47A992; */
  color: #3AA6B9; 
  font-weight: 500;
  text-decoration: none;
} 

.links {
  list-style: none;
  color: white;
}

.navbar a:hover {
  color: black; 
} 

.links li{
  display: inline-block;
  padding: 0px 30px; 

}

.navbar {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 30px 10%; 
  margin-top: none; 
  /* margin-bottom:1%;  */
  background-color: white;
}



ul li{
  font-family: "Avenir", sans-serif;
  font-size: 25px;
  color: black; 
  font-weight: bold;
}

.logo {
  position: absolute;
  left: 10%;
  margin-top: 10px;
  margin-left: 50px; 
  margin-bottom:2%;
}

.login-state{
  display: inline-block;
}

.login-state button{
  background-color: white; 
  font-size: 23px;
  font-family: "Avenir", sans-serif;
  border: 1px solid #3AA6B9;
  border-radius: 4px;
  margin-left: 20px;
  padding: 7px 15px; 
}

.login-state button:hover{
  background-color: #3AA6B9;
  color: white; 
} 

/* li .login-state{
  border: 1px; 
} */


/* 
.navbar .content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .content .logo {
  width: 100px;
  margin-right: 50px;
}


.navbar .content .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  margin-left: auto;
  flex: 1;
  max-width: 650px;
}

.navbar .content .logo {
  width: 100px;
  margin-right: 50px;
} */