.navbar {
  width: 100%;
  max-width: 100vw;
  background: #2c4047;
  color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 40px;
  background-color: #2c4047;
}
.navbar a {
  color: white;
  font-weight: 500;
}

.navbar .content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .content .logo {
  width: 100px;
  margin-right: 50px;
}
.navbar .content .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin-right: 50px;
}

.navbar .content .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  margin-left: auto;
  flex: 1;
  max-width: 650px;
}

.navbar .content .logo {
  width: 100px;
  margin-right: 50px;
}