.header-wrap{
    width: 100%; 
    height: 20vh;
    background-color:#F24C3D;
}

.header{
  color: white; 
  text-align: center;
  padding-top: 90px;
  font-family: "Avenir", sans-serif;
}


.cat-form{
    font-family: Verdana, sans-serif;
    font-size: 20px;
    margin: 2% 20% 2% 25%; 
    padding: 30px 50px 30px 50px;
    align-items: center;

}

.cat-form h2{
    font-size: 32px;
    color: #F24C3D;
    margin-bottom: 30px;
    text-align: center;
    margin-left: -10%;
}

.add-nutrition input{
    margin-top: 2px; 
    margin-bottom: 20px;
    background-color: #eee;
	border: none;
	padding: 15px 15px;
	width: 80%;
    font-size: 20px;
}

.add-nutrition select{
    margin-top: 2px; 
    margin-bottom: 20px;
    background-color: #eee;
	border: none;
	padding: 15px 15px;
	width: 83.5%;
    font-size: 20px;
}

.add-nutrition .inline input{
    width: 10%;
    margin-right: 20px; 
}

.add-nutrition .inline{
    margin-left: 150px
}

.add-nutrition button{
    border: solid #F24C3D 2px; 
    border-radius: 5px;
    background-color: #F24C3D;
    margin-top: 6px;
    margin-right: 20px; 
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white; 
    width: 84%; 
}


.add-nutrition button:hover{
    border: solid #F24C3D 2px;
    color: #F24C3D; 
    background-color: transparent;
  }