html, body {
  margin: 0;
  padding: 0;
}  

.Home {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin-right: 0px;
  /* display: flex; */
}

.hero-img{
  background-image: url("	https://lifetracker.up.railway.app/assets/tracker-2a96bfd0.jpg");
  height:100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-title{
  padding-top: 10%;
  padding-left: 2%;
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
}

.hero-title h1 {
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.hero-title p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.hero-img .tiles{
  margin-top: 12%;
}

.card {
  display: inline-block;
  background-color: white;
  text-align: center;
  border-radius: 4px;
  margin: 20px; 
  font-family: 'Nunito Sans', sans-serif; 
  margin-left: 30px; 
  padding-bottom: 10px; 
  width: 300px; 
  height: 350px; 
  opacity: 0.8;
}
.card:hover {
  opacity: 1;
}

.card img{
  height: 290px;
  width: 100%;    
  border-radius: 3px; 
  opacity: 1;
}

.hero-title button{
  border: solid white 2px; 
  border-radius: 5px;
  background-color: transparent;
  margin-top: 6px;
  margin-right: 20px; 
  padding-top: 10px; 
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  font-weight: bold;
  color: white; 
}

.hero-title button:hover{
  color: lightblue; 
  background-color: white;
}






/* .text{
  opacity: 0.5;
} */





/*   background-image: url("	https://lifetracker.up.railway.app/assets/tracker-2a96bfd0.jpg");
 */